@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.navbar-brand {
    font-family: 'Rubik Bubbles', cursive;
}

.paraMain {
    text-align: justify;
}

.card-primary {
    background: #1b2a4e;
    color: #fff;
}

.slider-c {
    background: #dc3545;
}

.title-footer {
    border-bottom: 3px solid;
    height: 35px;
}

.footer-a {
    padding: 0;
}

.footer-a a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}